*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px !important;
    
}

.content {
    font-family: Bai Jamjuree;
}

html{
    width: 100%;
    height: 100vh;
}

header{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

header > p {
    width: 650px;
    margin: 40px 0;
    text-align: center;
}

header > img {
    margin-bottom: 40px;
}

h1,h2,h3,h4,h5,h6 {
    color: hsl(210, 10%, 33%);
    font-weight: 600 !important;
    font-size: 30px !important;
}
 
h1 {
    font-size: 40px !important;
}

p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
}

h1, h2{
    text-align: center;
    margin-bottom: 30px;
}

h2{
    width: auto;
    margin-top: 100px;
    display: block;
    font-size: 35px !important;
}

h4 {
    margin-bottom: 10px !important;
    font-size: 20px !important;
}

h3 {
    font-size: 20px !important;
}

button{
    height: 40px;
    border-radius: 20px;
    width: 250px;
    border: none;
    color: white;
    box-shadow: 0px 8px 32px -12px rgba(73, 72, 72, 0.75);
}

.topbuttons{
    margin-bottom: auto;
    display: block;
}

.mac {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 2px solid hsl(233, 100%, 50%);
}

.mac:hover{
    cursor: pointer;
    background-color: hsl(233, 100%, 80%);
}

.ios {
    background-color: hsl(171, 66%, 44%);
    border-bottom: 2px solid hsl(171, 66%, 30%);
}

.ios:hover{
    cursor: pointer;
    background-color: hsl(171, 66%, 55%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snippet {
    margin-top: 100px;
}

.snippet > P {
    width: 700px;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /* padding-right: 300px; */
    width: 100%;
    gap: 150px;
    position: relative;
    right: 200px;
}

.leftsection {
    display: grid;
    place-items: center;
    /* padding: 100px 370px 100px 100px; */
    width: 350px;
    height: 400px;
    margin-top: 80px;
}

.leftsection > div {
    width: auto;
}

.access > p {
    width: 700px;
    text-align: center;
    margin-bottom: 80px;
}

h3 {
    margin-bottom: 20px;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: center;
    padding: 100px;
}

.blacklist, .plain, .preview {
    display: grid;
    place-items: center;
    gap: 10px;
}


.preview > h3 {
    margin-bottom: 10px;
}

.plain > h3 {
    margin-bottom: 10px;
}

.blacklist > h3 {
    margin-bottom: 0;
}

.blacklist {
    width: 30%;
}

.plain {
    width: 28%;
}

.preview {
    width: 28%;
}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 130px;
}

.clipboard > p {
    width: 700px;
    text-align: center;
}

.clipboard {
    margin-bottom: 40px;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    height: 150px;
    background-color: rgb(236, 234, 234);
    padding: 30px 100px;
    margin-top: 50px;
}

.link{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.link:hover {
    color: hsl(171, 66%, 44%);
}

.links {
    display: grid;
    gap: 20px;
}

.link-3 > .link {
    display: block;
    padding-bottom: 40px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 150px;
    color: hsl(210, 10%, 33%);
}

.icons > i:hover{
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}

.supercharge > p {
    text-align: center;
}

@media screen and (max-width: 1264.98px) {
    section {
        width: 1300px;
    }

    .footer {
        gap: 50px;
    }

    .icons {
        height: auto;
        padding-left: 20px;
    }

    .sponsors {
        gap: 50px;
    }
}

@media screen and (max-width: 849.98px) {
    
    section {
        width: max-content;
        gap: 50px;
    }

   .sponsors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 100px;
        gap: 100px;
   }

   .tools {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 0px;
        margin-top: 150px;
    }


    .footer {
        display: grid;
        place-items: center;
        align-items: center;
        height: auto;
        width: auto;
        gap: 20px;
        padding: 70px 0;
        margin: 150px 0 0 0;
    }
    
    .footer > .links {
            text-align: center;
    }

    .icons {
        height: auto;
        padding-left: 20px;
    }
}

@media  screen and (max-width: 699.98px) {
    html {
        width: 100%;
        height: 100vh;
    }

    header {
        margin-bottom: 100px;
        width: auto;
        margin: 0 0 100px 0 ;
        padding: 100px 50px;
    }

    main {
        width: auto;
        padding: 0 50px;
    }

    header > p {
        width: 350px;
    }

     button {
        display: block;
        margin-bottom: 20px;
     }
     
     .tools {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 0px;
        margin-top: 150px;
     }

     .blacklist, .plain, .preview, .clipboard {
        width: 350px;
     }

     .blacklist > p {
        width: fit-content;
        text-align: center;
     }

     .sponsors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 100px;
     }

     .footer{
        display: grid;
        place-items: center;
        align-items: center;
        height: auto;
        width: auto;
        gap: 20px;
        padding: 70px 0;
        margin: 150px 0 0 0;
    }

    .footer > .links {
        text-align: center;
    }

    .icons{
        display: block;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin: 100px 0 ;
        position: inherit;
        gap: 40px;
        /* position: relative;
        left: 300px; */
    }

    .leftsection {
        width: 350px;
        text-align: center;
    }

    .snippet {
        width: 350px;
        height: auto;
        margin-top: 100px;
        
    }

    .snippet > p {
        width: fit-content;
        margin: 0;
        text-align: center;
    }

    .access, .supercharge {
        width: 350px;
    }

    .access > p {
        width: fit-content;
    } 

    .clipboard > p {
        width: fit-content;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}